@import "src/assets/css/theme.scss";
body {
  font-size: 16px;
  background-color: #F9F0F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer{
  cursor: pointer;
}

.custom-spinner-color{
  color: black;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 767px) {
  .container{
    
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
 .container{
    
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
 .container{

  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
 .container{
    
  }
}

/*********Ultra HD **********/
@media only screen and (min-width: 1280px) {
.container{
  }
}