.container{
    position: absolute;
    box-shadow: 1px 0px 46px #359fb9;
    border-radius: 5px;
    height: 79%;
    width: 80%;
    margin : 5% 10%;
    .current-weather-wrapper{
        position:absolute;
        height: 100%;
        width:35%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 20px;
        background: #efe7e7; /* Old browsers */
        background: -moz-linear-gradient(top, #efe7e7 0%, #eee6e6 0%, #c1e1cd 0%, #5ecd90 1%, #5dcc92 13%, #58c697 29%, #359fb9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #efe7e7 0%,#eee6e6 0%,#c1e1cd 0%,#5ecd90 1%,#5dcc92 13%,#58c697 29%,#359fb9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #efe7e7 0%,#eee6e6 0%,#c1e1cd 0%,#5ecd90 1%,#5dcc92 13%,#58c697 29%,#359fb9 100%);
    }
    .router-outlet-wrapper{
        width: 65%;
        left: 35%;
        position: absolute;
        padding: 20px;
        .show-clouds{
            height:80px;
            padding:0px;
        }
          .mat-tab-link.active {
                border-bottom: 3px solid #5ecd90;
            }
            .roulet-container{
                padding:10px;
            }
            .search-field{
                .mat-input-element{
                    border-bottom: 1px solid; 
                }
            }
    }
}