<div class="container">
    <div class="current-weather-wrapper">
        <app-current-weather [weatherData]="weatherData"></app-current-weather>
    </div>
    <div class="router-outlet-wrapper">
        <div class="search-field">
            <form [formGroup]="searchLocationForm">
                <mat-form-field>
                    <input matInput placeholder="Enter Location" [formControl]="location">
                    <mat-icon matSuffix (click)="location.value?search():''">
                        <i *ngIf="!isDataLoding" class="mdi mdi-magnify cursor-pointer"></i>
                    </mat-icon>
                    <mat-progress-bar *ngIf="isDataLoding" mode="indeterminate"></mat-progress-bar>
                    <mat-error *ngIf="location.hasError('required')">Please enter search value</mat-error>
                </mat-form-field>
            </form>
        </div>
        <div *ngIf="message">
            {{message}}
        </div>
        <div class="show-clouds">
            <app-day-cloud [weatherData]="weatherData"></app-day-cloud>
        </div>
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="/today" routerLinkActive #rla1="routerLinkActive" ngClass="{{rla1.isActive?'active':''}}">
                Today </a>
            <a mat-tab-link routerLink="/week" routerLinkActive #rla2="routerLinkActive" ngClass="{{rla2.isActive?'active':''}}">
                Week </a>
            <a mat-tab-link routerLink="/month" routerLinkActive #rla3="routerLinkActive" ngClass="{{rla3.isActive?'active':''}}">
                Month </a>
        </nav>
        <div class="roulet-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>