@import '~@angular/material/theming';
@include mat-core();

//Setting brand colors
$brand-color: ( 50: #ffffff, 100: #dde6f3, 200: #b4c9e4, 300: #7fa3d1, 400: #6992c9, 500: #2196F3, 600: #4072b4, 700: #38649d, 800: #305687, 900: #284770, A100: #ffffff, A200: #dde6f3, A400: #6992c9, A700: #38649d, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: white, 900: white, A100: $black-87-opacity, A200: $black-87-opacity, A400: $black-87-opacity, A700: white, ));

//Dark Theme decalarations
$dark-theme-primary: mat-palette($brand-color, 500);
$dark-theme-accent: mat-palette($mat-red, 800, 400);
$dark-theme-warn: mat-palette($mat-red);
$weather-dark: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);

//Light Theme decalarations
$light-theme-primary: mat-palette($brand-color, 500);
$light-theme-accent: mat-palette($mat-light-green, 300);
$light-theme-warn: mat-palette($mat-red);
$weather-light: mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);

//Theme main classes
.weather-default {
  @include angular-material-theme($weather-light);
}

.weather-dark {
  @include angular-material-theme($weather-dark);
}
