<div *ngIf="todayData && todayData.temp" class="day-chip">
  <div>Day : {{todayData.temp.day}} &deg; C<i class="mdi mdi-weather-sunny"> </i></div>
  <div>Min : {{todayData.temp.min}} &deg; C<i class="mdi mdi-weather-sunny"> </i> </div>
  <div>Max : {{todayData.temp.max}} &deg; C <i class="mdi mdi-weather-sunny"> </i></div>
  <div>Night : {{todayData.temp.night}} &deg; C<i class="mdi mdi-weather-sunny"> </i></div>
  <div>Evening : {{todayData.temp.eve}} &deg; C <i class="mdi mdi-weather-sunny"> </i></div>
</div>