
.current-date{
    text-align: left;
    color: #FFF;
    padding: 40px 0 0 40px;;
}

.current-temperature{
     color: #FFF;
    
     vertical-align: bottom;
     bottom: 40px;
     left: 40px;
     position: absolute;
    .temperature{
        text-align: start;
        font-size: 9em;
    }
    .city-name{ 
        text-align: center;
         font-size: 1em;
    }
}